<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Secret</key>
	<string>A5SWE93nmb9khJXzTdypEAa93AUGDmfNCq7N6VmeguQ5Ag0Dis</string>
	<key>consumer_Key</key>
	<string>BDiR4Kk9jV3951orykHrUgHs9</string>
</dict>
</plist>
